h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: rgb(121, 125, 5);
}

p {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  color: rgb(76, 94, 76);
}

a {
  color: rgb(121, 6, 6);
  text-decoration: none;
}

a:hover {
  color: rgb(192, 192, 8);
  text-decoration: underline;
}

#specifically-dive {
  color: rgb(99, 5, 102);
  font-weight: bold;
  font-size: 33px;
}
