main {
  width: 1000px;
  margin: 45px;
}

header {
  margin: 12px;
  text-align: center;
}

header p {
  margin: 5px auto;
  text-align: center;
}

header h1 {
  margin: 5px;
}

a#more-details {
  color: rgb(255, 0, 0);
}

ol {
  list-style: none;
  padding: 0px;
  width: 1000px;
  margin: 30px 30px;
}

li {
  font-size: 19px;
  margin: 22px;
}
