body {
  margin: 50px;
  /* background-color: rgba(54, 49, 49, 0.477); */
  background-color: rgb(200, 198, 198);
}

h1 {
  font-family: "Oswald", tahoma;
  text-align: center;
  color: rgb(3, 73, 94);
}

p {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  color: rgb(102, 64, 12);
  font-size: 20px;
}

a {
  color: rgb(0, 0, 0);
  /* color: rgba(25, 4, 100, 0.792); */
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
